{% extends "layout.html" %}

   {% block content %}
    <main>
        <div class="Hero">
            <div>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos<br>
                    com receitas criadas por profissionais<br>
                    do mundo inteiro.</p>
            </div>
            <img src="./assets/chef.png" alt="Chef">
        </div>

        <div class="content">
            <h2>Receitas</h2>
            <div class="cards">

                {% for receita in items%}
                <div class="card" id="{{receita.id}}">
                    <img src="{{receita.image}}" alt="{{receita.title}}" >
                    <h3>{{receita.title}}</h3>
                    <p>por {{receita.author}}</p>
                </div>
                {% endfor%}
            </div>
        </div>
    </main>
    {% endblock %}
