<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/modal.css">

    <title>Foodfy</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="./assets/logo.png" alt="Logo">
        </a>
        <nav>
            <a href="about.html">Sobre</a>
            <a href="/recipes.html">Receitas</a>
        </nav>
    </header>

    <main>
        <div class="Hero">
            <div>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos<br>
                    com receitas criadas por profissionais<br>
                    do mundo inteiro.</p>
            </div>
            <img src="./assets/chef.png" alt="Chef">
        </div>

        <div class="content">
            <h2>Mais acessadas</h2>
            <div class="cards">
                <div class="card" id="card1">
                    <img src="./assets/burger.png" alt="Triplo bacon burger" id="burger">
                    <h3>Triplo bacon burger</h3>
                    <p>por Jorge Relato</p>
                </div>

                <div class="card" id="card2">
                    <img src="./assets/pizza.png" alt="Pizza 4 estações" id="pizza">
                    <h3>Pizza 4 estações</h3>
                    <p>por Fabiana Melo</p>
                </div>

                <div class="card" id="card3">
                    <img src="./assets/espaguete.png" alt="Espaguete ao alho" id="espaguete">
                    <h3>Espaguete ao alho</h3>
                    <p>por Júlia Kinoto</p>
                </div>

                <div class="card" id="card4">
                    <img src="./assets/lasanha.png" alt="Lasanha mac n' cheese" id="lasanha">
                    <h3>Lasanha mac n' cheese</h3>
                    <p>por Juliano Vieira</p>
                </div>

                <div class="card" id="card5">
                    <img src="./assets/doce.png" alt="Docinhos pão-do-céu" id="doce">
                    <h3>Docinhos pão-do-céu</h3>
                    <p>por Ricardo Golvea</p>
                </div>

                <div class="card" id="card6">
                    <img src="./assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    <h3>Asinhas de frango ao barbecue</h3>
                    <p>por Vania Steroski</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <div class="modal-content">
        <div class="modal">
            <div class="modal-image">
                <img src=""  alt="receita">
            </div>
            <div class="modal-title">
                <p></p>
            </div>
           <div class="modal-autor">
                <p></p>
           </div>
            
            <p class="close">Fechar modal</p>
        </div>

    </div>
    <script src="./scripts/script.js"></script>
</body>
</html>