{% extends "layout.html" %}



{% block content %}
<main>
    <img src="{{item.image}}" alt="{{item.title}}" >
    <h1>{{item.title}}</h1>
    <p>{{item.author}}</p>

    <div class="preparo-content">
        <div class="etapa">
            <div class="etapa-titulo">
                <h2>Ingredientes <span class="status">ESCONDER</span></h2>
            </div>
            
            <ul class="lista">
                {% for ingrediente in item.ingredients %}
                <li>{{ingrediente}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="etapa">
            <div class="etapa-titulo">
                <h2>Modo de Preparo <span class="status">ESCONDER</span></h2>
            </div>
            
            <ul class="lista">
                {% for modo in item.preparation %}
                <li>{{modo}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="etapa">
            <div class="etapa-titulo">
                <h2>Informações adicionais <span class="status">ESCONDER</span></h2>
            </div>
            
            <ul class="lista">
                
                <li>{{item.information}}</li>
                
            </ul>
        </div>
        
    </div>
</main>

<script src="/scripts/script.js"></script>
{% endblock %}