{% extends "layout.html"%}

{% block content%}
<main>
    <img src="" alt="">
    <h1></h1>
    <p></p>
    <div class="instrucao">
        <div class="etapas">
            <div class="etapas-title">
                <p>Ingredientes</p>
                <p class="status"></p>
            </div>
            <p class="descricao"></p>
        </div>

        <div class="etapas">
            <div class="etapas-title">
                <p>Ingredientes</p>
                <p class="status"></p>
            </div>
            <p class="descricao"></p>
        </div>

        <div class="etapas">
            <div class="etapas-title">
                <p>Ingredientes</p>
                <p class="status"></p>
            </div>
            <p class="descricao"></p>
        </div>
    </div>
</main>



{% endblock%}
