{% extends "layout.html" %}

    {% block head%}
    <link rel="stylesheet" href="./styles/recipes.css">
    {% endblock%}

 
{% block content %}
    <main class="recipes">
        {% for receita in items%}
        <div class="card" id="{{receita.id}}">
            <img src="{{receita.image}}" alt="{{receita.title}}" >
            <h3>{{receita.title}}</h3>
            <p>por {{receita.author}}</p>
        </div>
        {% endfor%}
    </main>
    <script src="script.js"></script>
{% endblock %}